.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login .loginCard {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login .loginCard .loginCardForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.login .loginCard .loginCardForm .loginCardFormInput {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}